<div class="row bottom">
    <div class="large-2 column input-panel">
        <span>{{vrsta}}</span>
    </div>
    <div class="large-10 column input-panel">
        <span class="big">{{sorta}}</span>
    </div>
</div>
<div class="row">
    <div class="large-4 column input-panel">
        <span>{{partner}}</span>
    </div>
</div>
<div class="row">
    <div class="large-4 column input-panel">
        <span class="big">{{kolicina}}</span>
    </div>
</div>
<div class="push"></div>