 <ul class="breadcrumbs">
        <li><a href="#/{{i18n 'URL_vinarija'}}/">Vinarija</a></li>
        <li class="current">Pretok</li>
        <li class="separator"></li>
    <li class="menu-item"><a href="#">{{LBL_spremi}}Spremi</a></li>
    </ul>
    <div class="row fullWidth posude-pretok">
        <div class="large-3 column" >
            <h4>Posude</h4>
        </div>
        <div class="large-9 column posude-pretok" >
            <div class="row posudeIz">
                <h4>Posuda iz</h4>
            </div>
            <div class="row posudeU">
                <h4>Posude u</h4>
            </div>
        </div>
    </div>