<div id="login" class="row">
    <div class="large-12 column">
        <div class="large-2 column">
            <div class="row">
                <div class="large-12 column"><img src="/images/vinople_logo134.png" alt="Vinople logo"/>
                </div>
            </div>
            <div class="row firstlogin">
                <div class="large-12 column">
                    <h3>First login</h3>
                </div>
            </div>
        </div>
        <div class="large-10 column">
            <form id="loginForm">
                <div class="row firstlogin">
                    <div class="large-6 large-centered column">

                        <input type="text" name="clientid" placeholder="Client ID"/>
                    </div>
                </div>
                <div class="row">
                    <div class="large-6 large-centered column">

                        <input type="email" name="username" placeholder="Username"/>
                    </div>
                </div>
                <div class="row">
                    <div class="large-6 large-centered column">

                        <input type="password" name="password" id="password" placeholder="Password"/>
                    </div>
                </div>
                <div class="row">
                    <div class="large-6 large-centered column">
                        <button type="submit">Login</button>
                    </div>
                </div>
                <div class="row">
                    <div class="large-6 large-centered column">
                        <span id="status"></span>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>