<div id="login" class="row">
    <div class="large-12 column">
        <div class="large-2 column"><img src="/images/vinople_logo134.png" alt="Vinople logo"/></div>
        <div class="row">
            <div class="large-4 large-centered column">
       <p>You've been loged out.</p>
            </div>
        </div>
        <div class="row">
            <div class="large-4 large-centered column">
                <a href="/" class="button">Login</a>
            </div>
        </div>
    </div>
</div>