<ul class="breadcrumbs">
    <li><a href="#/{{i18n 'URL_skladiste'}}/">Skladište</a></li>
    <li class="current">Enološka sredstva</li>
    <li class="separator"></li>
    <li class="menu-item"><a href="#" data-id="" id="noviBtn">{{i18n 'LBL_primka'}}</a></li>
</ul>
<div class="row fullWidth">
        <div class="large-12 column">
        <div class="row collapse">
            <div class="small-11 column"><input type="text" placeholder="{{LBL_search}}" /></div>
            <div class="small-1 column">
                <a href="#" class="button postfix"><img src="/images/search_icon.png" alt="search-btn"/></a>
            </div>
        </div>        
    </div>
    <div class="row">
        <div class="large-12 column">
            <div id="table" ></div>
        </div>
        </div>
</div>
