<div class="row fullWidth">
    <div class="large-3 column">
        <span>{{broj}}</span>
    </div>
    <div class="large-3 column end">
        <span>Datum izvršenja {{formatDate datumIzvrsenja  "short"}}</span>
    </div>
</div>
    {{#each radnje}}
    <div class="row fullWidth">
        <div class="large-1 column">
            1
            </div>
        <div class="large-2 column">
            {{tip}}
        </div>
        <div class="large-1 column"></div>

    </div>

    {{/each}}

<div class="row">
    <button id="modal-choose" class="right">Save</button>
</div>