<div class="prerada-control left" data-id="{{id}}">
    <div class="widget-row">
        <span class="left uptitle">Nalog {{broj}}</span>
    </div>
    <div class="row"></div>
    <div class="widget-row">
        <span class="title">{{nalogVrsta}}</span>
    </div>
    <div class="widget-row">
        <span class="left">Datum izvršenja</span>
        <span class="right">{{formatDate datumIzvrsenja  "short"}}</span>
    </div>
    <div class="row"></div>
    <div class="widget-row bottom">
        <span class="right"><img src="/images/ok-icon.png" alt="ok icon"/></span>

    </div>
</div>