<div class="row" id="search-row">
    <div class="small-12 column">
        <div class="row collapse">
            <div class="small-11 column"><input type="text" placeholder="{{LBL_search}}" id="search"/></div>
            <div class="small-1 column">
                <a href="#" class="button postfix search-btn"><img src="/images/search-icon.svg" alt="search-btn"
                                                                   width="16"/></a>
            </div>
        </div>
    </div>
</div>
<div class="row" id="selector-items"></div>